<h1>Edit Laptop</h1>
<%=form_for @laptop do |f|%>
  <div class="form-group">
    <%=f.label :title%>
    <%=f.text_field :title, class: "form-control"%>
  </div>

  <div class="form-group">
    <%=f.label :description%>
    <%=f.text_area :description, class: "form-control"%>
  </div>

  <div class="form-group">
    <%=f.label :price%>
    <%=f.text_field :price, class: "form-control"%>
  </div>

  <div class="form-group">
    <label for="laptop_published">Published</label> 
    </br>
    <%if @laptop.published%>
      <input type="radio" value="true" name="laptop[published]" id="laptop_published" checked="checked">True
      <input type="radio" value="false" name="laptop[published]" id="laptop_published">False
    <%else%>
      <input type="radio" value="true" name="laptop[published]" id="laptop_published">True
      <input type="radio" value="false" name="laptop[published]" id="laptop_published" checked="checked">False
    <%end%> 
  </div>

  <div class="form-group">
    <%=f.label :category_id%>
    <%=f.text_field :category_id, class: "form-control"%>
  </div>

  <div class="form-group">
    <label for="laptop_category">Category</label>
    <select class="form-control" type="text" value="true" name="laptop[category_id]" id="laptop_category_id">
      <%@categories.each do |category|%>
        <option value="<%=category.id%>"
          <%if category.id == @laptop.category_id%>
            selected
          <%end%>
          >
          <%=category.title%>          
        </option>
      <%end%>
    </select> 
  </div>

  <div class="actions">
    <%=f.submit "Edit", class: "btn btn-primary"%>
  </div>
<%end%> 
<%=link_to "Back", laptops_path%>